<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="notification" class="az.spring.demo.Notifications">
     <constructor-arg ref="email"/>
        <constructor-arg ref="employee"/>

    </bean>
    <bean id="email" class="az.spring.demo.Email"/>
    <bean id="sms" class="az.spring.demo.Sms"/>
    <bean id="employee" class="az.spring.demo.Employee"/>

     <bean></bean>

</beans>